In [1]:
import pandas as pd

from cachetools import cached, TTLCache

cache1 = TTLCache(maxsize=1, ttl=100)
cache2 = TTLCache(maxsize=1, ttl=100)
cache3 = TTLCache(maxsize=1, ttl=100)

@cached(cache1)
def getConfirmed():
    data = pd.read_csv('confirmed.csv')
    return data

@cached(cache2)
def getRecovered():
    data = pd.read_csv('recovered.csv')
    return data

@cached(cache3)
def getDeath():
    data = pd.read_csv('death.csv')
    return data

In [3]:
confirmed = getConfirmed()
confirmed = confirmed.iloc[:,4:]
total_confirmed = confirmed.sum(axis=0)

recovered = getRecovered()
recovered = recovered.iloc[:,4:]
total_recovered = recovered.sum(axis=0)

death = getDeath()
death = death.iloc[:,4:]
total_death = death.sum(axis=0)

date = total_confirmed.index[1:].values.tolist()

In [7]:
total_recovered.values / total_confirmed.values

array([0.05045045, 0.04587156, 0.03825717, 0.02719665, 0.02455146,
       0.02084045, 0.0191825 , 0.02043464, 0.01736701, 0.02236325,
       0.02359196, 0.028117  , 0.03133645, 0.03566047, 0.04067306,
       0.04828863, 0.0584746 , 0.07047414, 0.08079701, 0.09227819,
       0.10452658, 0.11388514, 0.1042771 , 0.12047544, 0.13610025,
       0.15254689, 0.17176281, 0.19101363, 0.21313079, 0.2385527 ,
       0.24590271, 0.29127425, 0.2962841 , 0.31707746, 0.34705122,
       0.37332285, 0.40215841, 0.43645378, 0.46252224, 0.48338218,
       0.50497198, 0.51947436, 0.53795206, 0.54957808, 0.54876671,
       0.55134298, 0.55266297, 0.55017167, 0.54294385, 0.53229791,
       0.53231738, 0.48380565, 0.46523725, 0.45405903, 0.43006157,
       0.41014297, 0.38782056, 0.35031125, 0.32115147, 0.30111623,
       0.290542  , 0.26002617, 0.25834539, 0.24331502, 0.23064969,
       0.220659  , 0.21101328, 0.20701808, 0.21033782, 0.20762297,
       0.207137  , 0.20746922, 0.20603385, 0.2055707 , 0.20439347,
       0.20557192, 0.21040239, 0.21749727, 0.22187921])

In [8]:
pd.read_csv('confirmed.csv')

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
0,NaN,Afghanistan,33.00000,65.000000,0,0,0,0,0,0,...,174,237,273,281,299,349,367,423,444,484
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,243,259,277,304,333,361,377,383,400,409
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,716,847,986,1171,1251,1320,1423,1468,1572,1666
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,376,390,428,439,466,501,525,545,564,583
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,7,8,8,8,10,14,16,17,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,Falkland Islands (Malvinas),United Kingdom,-51.79630,-59.523600,0,0,0,0,0,0,...,0,0,0,0,1,2,2,2,5,5
259,Saint Pierre and Miquelon,France,46.88520,-56.315900,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
260,NaN,South Sudan,6.87700,31.307000,0,0,0,0,0,0,...,0,0,0,0,0,1,1,2,2,3
261,NaN,Western Sahara,24.21550,-12.885800,0,0,0,0,0,0,...,0,0,0,0,0,4,4,4,4,4
262,NaN,Sao Tome and Principe,0.18636,6.613081,0,0,0,0,0,0,...,0,0,0,0,0,0,4,4,4,4